*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Outfit;
}

.container{
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D6E1F0;
}
.box{
    min-height: 500px;
    max-width: 320px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

img{
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 6%;
}

.main-content{
    padding: 1rem;
}

h2{
    text-align: center;
}

p{
    font-size: 1rem;
    font-weight: 400;
    color: grey;
    padding-top: 0.8rem;
    text-align: center;
}

/* .top{
    font-weight: 700;
    font-size: 22rem;
}

.bottom{
    font-weight: 400;
    color: grey;
} */

/* .image-box{
    border-radius: 15px;
    
} */

/* .text-box{
    height: 40%;
    width: 90%;
    text-align: center;
} */